.app {
  text-align: center;
  background-image: url(./Background1.jpeg);
  min-height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, button {
  margin: 0.5rem;
  cursor: pointer;
}

.answer-section {
  display: inline-flex;
  flex-direction: column;
}

.question {
  padding: 2rem;
}

.timer {
    display: inline-flex;
    align-items: center;
}

.timer h1 {
  border: 0.1rem double black;
  padding: 0.5rem 1rem;
}

.pause-btn {
  margin: 1rem;
}

.answer-option {
  margin: 0.2rem;
}

.question-count {
  margin: 0.5rem;
}

.question-count span {
  text-decoration-line: underline;
}

.game-menu {
  display: inline-flex;
  flex-direction: column;
}

.game-menu button {
  border: none;
  font-size: inherit;
}

.main {
  backdrop-filter: blur(3px);
  background: #f4e3efbf;
  padding: 3rem;
  border-radius: 10%;
  width: 70%;
}

.intro {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  background: green;
}

.table-header {
  background: #183693c7;
  color: white;
}

.row {
  border: 1px black solid;
  height: 2em;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.col {
  width: 100%;
}

h1 {
  color: #ac415f;
}

button {
  background: #ccb3d7;
  border: none;
  padding: 0.5rem;
  border-radius: 14%;
  box-shadow: 1px 1px 1px 1px;
}

select {
  padding: 0.5rem;
}

.home-leaderboard {
  display: grid;
  grid-template-areas: "menu board";
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.home {
  grid-area: menu;
}

.leaderboard {
  grid-area: board;
}

.table {
  margin: 1rem;
}

.error {
  color: red;
}